 <!-- Burger Dropdown -->
 <div id="burgerDropdown" class="hidden w-full h-[350px] bg-blue-950 fixed top-[65px] z-10">
    <!-- List Items -->
    <ul class="py-2 text-2xl font-medium text-white text-center" aria-labelledby="dropdownDefaultButton">
       <li class="block px-4 py-2 hover:bg-indigo-200 hover:text-blue-950 rounded-3xl border border-[2px] my-3" >
         <a href="#" >Home</a>
       </li>
       <li class="block px-4 py-2 hover:bg-indigo-200 hover:text-blue-950 rounded-3xl border border-[2px] my-3">
         <a href="#" >Personal Info</a>
       </li>
       <li class="block px-4 py-2 hover:bg-indigo-200 hover:text-blue-950 rounded-3xl border border-[2px] my-3">
         <a href="#" >Courses</a>
       </li>
       <li class="block px-4 py-2 hover:bg-indigo-200 hover:text-blue-950 rounded-3xl border border-[2px] my-3">
         <a href="#" >Classes</a>
       </li>
       <li class="block px-4 py-2 hover:bg-indigo-200 hover:text-blue-950 rounded-3xl border border-[2px] my-3">
         <a href="#" >Logout</a>
       </li>
     </ul>
 </div>