<!-- Footer -->
<footer class="w-full h-[500px] bg-blue-950 shadow ">
    <div class="w-full p-4">
       
       <div class="flex flex-col md:flex-row  items-center justify-between">

          <!-- Logo -->
          <a href="#" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
             <img src="../static/images/schoolLogo.png" class="w-[150px] h-[150px]  " alt="school">
                <span class="self-center w-full text-2xl font-semibold text-white ">ABC Business School</span>
          </a>

          <!-- List Items -->
          <ul class="flex flex-col md:flex-row   items-center mb-6 text-sm font-medium text-white sm:mb-0">
                <li class="my-3">
                   <a href="#" class="hover:underline  me-4 md:me-6 text-xl">About</a>
                </li>
                <li class="my-3">
                   <a href="#" class="hover:underline me-4 md:me-6 text-xl">Privacy Policy</a>
                </li>
                <li class="my-3">
                   <a href="#" class="hover:underline me-4 md:me-6 text-xl">Licensing</a>
                </li>
                <li class="my-3">
                   <a href="#" class="hover:underline me-4 text-xl">Contact</a>
                </li>
          </ul>
       </div>
       <hr class="my-6 border-gray-200 text-white lg:my-8" />
       <span class="block text-sm text-white sm:text-center ">© 2023 <a href="https://flowbite.com/" class="hover:underline">Alph™</a>. All Rights Reserved.</span>
    </div>
 </footer>