<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/schoolLogo.png" >
    <title>Home</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body background="../static/images/bgbooks.jpg" class="bg-cover" >

    <%- include('./partials/pop-up.ejs') %>

    <!-- Login Form Container -->
    <div class="w-screen h-screen flex items-center justify-center ">

        <!-- Login Form Section -->
        <div class="w-[350px] h-[600px] md:w-[550px] md:h-[650px] bg-indigo-200 rounded-3xl flex flex-col items-center justify-center relative">
                
                <!-- Arrow -->
                <a href="/">
                    <span class="absolute left-2 top-2 text-blue-800 hover:scale-110 duration-300 text-4xl">&#129128;</span>
                </a>
            
                <img src="../static/images/schoolLogo.png" class=" w-[200px] h-[200px] md:w-[250px] md:h-[250px]  " alt="school">
            
                <!-- New password form -->
                <form class="max-w-sm mx-auto" method="post" action="/new-password">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="studentid" value="<%= studentId %>">
                    <input type="hidden" name="token" value="<%= token %>">

                    <!-- Password -->
                    <div class="mb-5">
                        <label for="password" class="mb-2 text-lg font-medium text-gray-700">New Password</label>
                        <input type="password" id="password" name="newpassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-md rounded-lg  block w-full p-2.5 " placeholder="********" required />
                    </div>

                    <!-- Confirm Password -->
                    <div class="mb-5">
                        <label for="password" class="mb-2 text-lg font-medium text-gray-700">Confirm Password</label>
                        <input type="password" id="password" name="confirmnewpassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-md rounded-lg  block w-full p-2.5 " placeholder="********" required />
                    </div>

                    <button type="submit" class="w-[170px] h-[50px]  mt-2 text-white bg-blue-800 hover:scale-110 duration-300  font-medium rounded-lg text-sm    text-center">Send e-mail</button>

                </form>

        </div>
    </div>

    <script src="../static/js/pop-up.js"></script>
</body>
</html>